<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mapified</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid grey;">
    <tr>
        <td align="center" bgcolor="#2d718c" style="padding: 40px 0 0 0;">
            <img src="logo.png" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#2d718c" style="padding: 10px 40px 40px 40px;">
            <table cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid grey; border-radius: 5px;">
                <tr bgcolor="#ffffff">
                    <td align="center" style=" font-size: 24px; font-family: 'Source Sans Pro', sans-serif; font-weight: bold; line-height: 30px; padding: 20px 0">
                        Welcome to Mapified!
                    </td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td align="center" style="padding: 20px 0 30px 0px; font-size: 18px; font-family: 'Source Sans Pro', sans-serif;">
                        Thank you for joining our community
                    </td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td align="center" style="padding: 20px 0 30px 0px; font-size: 18px; font-family: 'Source Sans Pro', sans-serif;">
                        Please,
                    </td>
                </tr>
                <tr bgcolor="#ffffff" style="margin-bottom: 40px;">
                    <td align="center">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" width="300" height="50" bgcolor="#d42f31" style="margin-bottom: 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                                    <a href="{{link}}" style="font-size: 20px; font-family: 'Source Sans Pro', sans-serif; text-decoration: none; line-height:50px; width:100%; display:inline-block">
                                        <span style="color: #ffffff;">
                                         Verify your email
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#f5f5f5" style="padding: 10px 0; border-top: 1px solid grey;">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" style="font-size: 16px; font-family: 'Source Sans Pro', sans-serif;">
                        If you haven't registered at Mapified, please ignore this letter
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>